.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          %a{href: "#"} Popular PROTO
        %li{role: "presentation"}
          %a{href: "#"} Newest PROTO
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags

.container.proto-list
  .row
    - @prototypes.each do |prototype|
      .col-sm-4.col-md-3.proto-content
        - if user_signed_in? && current_user.id == prototype.user_id
          .dropdown.drop_menu_location
            %button.btn.btn-default.dropdown-toggle#dropdownMenu{ type: "button", data: { toggle: "dropdown" } }
              Action
            %ul.dropdown-menu{ aria: { labelledby: "dropdown" } }
              %li
                = link_to "Delete", prototype_path(prototype), method: :delete
              %li
                = link_to "Edit", edit_prototype_path(prototype)
        .thumbnail
          = link_to image_tag(prototype.main_image.avatar), prototype_path(prototype)
          .caption
            %h3
              = prototype.title
            .proto-meta
              .proto-user
                = link_to "by #{prototype.user.name}", user_path(prototype.user)
              .proto-posted
                = show_date(prototype.updated_at)
            %ul.proto-tag-list.list-inline
              = render partial: 'tag', collection: prototype.tags

.text-center
  = paginate(@prototypes)
