- if user_signed_in?
  - if prototype.fetch_curret_user_like(current_user.id)
    = button_to like_path(prototype.fetch_curret_user_like(current_user)), method: :delete, remote: true, class: 'btn btn-default' do
      = image_tag("icon_heart_red.svg")
      Like
      %span#likes_number.num
        = prototype.likes_count
  - else
    = button_to likes_path(prototype_id: prototype), remote: true, class: 'btn btn-default' do
      = image_tag("icon_heart.svg")
      Like
      %span#likes_number.num
        = prototype.likes_count
- else
  %button.btn.btn-default
    = image_tag("icon_heart_red.svg")
    Like
    %span#likes_number.num
      = prototype.likes_count
