.container.user-page
  %header.user-nav
    .media
      .media-left
        = image_tag @user.avatar, alt: "64x64", src: @user.avatar, data: {src: "holder.js/64x64", holder: {rendered: "true"}}, class: "media-object"
      .media-body
        %h4#top-aligned-media.media-heading
          = @user.name
          %span.label.label-default.project-number
            = @user.prototypes.count
            %i Projects
        .proto-user
          %span.degree
            = @user.group
        .row
          .col-md-6
            %h4 Profile
            %p
              = @user.profile
          .col-md-6
            %h4 Works
            %p
              = @user.work
#masonry-container.container.proto-list
  .row
    = render @prototypes
.text-center
  = paginate @prototypes
